<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>572638329170-94d6utkmj1a49367rjivvmtq66fc9448.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.572638329170-94d6utkmj1a49367rjivvmtq66fc9448</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>572638329170-rfb8e82blh0viuf78fjoujkv7kdhhhlo.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCk-HvOFBq1J0YcuZkXxIfh6wTD3xv25KM</string>
	<key>GCM_SENDER_ID</key>
	<string>572638329170</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.yako.vitalik</string>
	<key>PROJECT_ID</key>
	<string>vitalik-2d811</string>
	<key>STORAGE_BUCKET</key>
	<string>vitalik-2d811.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:572638329170:ios:8b66fc27e86ae92f29a28b</string>
	<key>DATABASE_URL</key>
	<string>https://vitalik-2d811.firebaseio.com</string>
</dict>
</plist>